@{
    ViewBag.Title = "Canvas Element";
    bool useSinus = true;
}

@section ScriptHead{

    @if (false)
    {
        <script src="/_Scripts/jquery-2.1.1.js"></script>
    }
    @if (useSinus)
    {
        <script src="/_Scripts/SinusCanvas.js"></script>    
        <script>
            function drawChart() {
                var gradVal = $('#winkelSlider').val();
                $('#gradLabel').html(gradVal);
                drawSinusGraph('mainCanvas', gradVal);
            }
            $(document).ready(function () {
                drawChart();
            });
        </script>
    }
    else
    {
        <script src="/_Scripts/LoremIpsumCanvas.js"></script> 
    }
}

<canvas id="mainCanvas" width="960" height="350"></canvas>


@if (useSinus)
{
    <input type="range" min="0" max="360" id="winkelSlider" value="0" oninput="drawChart()" />
    <span><label id="gradLabel">0</label> Grad</span>
}
else
{    
    <input type="button" value="Zeichne etwas" class="RightFloatingButton" onclick="drawOnCanvas('mainCanvas')" />
}