/****************** Global Style Sheet ******************/
/*
    
    Das Global Style Sheet beinhaltet Styles, welche für beide Templates gelten.    
    
    Author: Silvio Stappung
    
*/

body {

    font-size:12pt;
    font-family:Arial;
    width:1000px;
    margin:auto;
}

header {
    font-size:1.6em;
    padding:20px;
    font-weight:bold;
}

section#bodySection {
    min-height:500px;
    padding:20px;
}

footer {
    font-size:0.6em;
    font-style:italic;
    padding:20px;
}

h1, h2, h3, h4 {

}

h1 {
    font-size:1.5em;
    font-weight:bold;
}

h2 {
    font-size:1.4em;
}

h3 {
    font-size:1.3em;
    font-style:italic;
}

h4 {
    font-size:1.2em;
    font-style:italic;
}