/****************** Global Style Sheet ******************/
/*
    
    Das Global Style Sheet beinhaltet Styles, welche für beide Templates gelten.    
    
    Author: Silvio Stappung
    
*/

body {

    font-size:12pt;
    font-family:Arial;
    width:1000px;
    margin:auto;
}

header {
    font-size:1.6em;
    padding:20px;
    font-weight:bold;
}

section#bodySection {
    min-height:450px;
    padding:20px;
}

footer {
    font-size:0.6em;
    font-style:italic;
    padding:20px;
}
    footer #leftFoot {
        float:left;
        display:inline;
    }
    footer #rightFoot {
        float:right;
        display:inline;
    }

a {
    color:inherit;
    text-decoration:inherit;
}

h1, h2, h3, h4 {

}

h1 {
    font-size:1.5em;
    font-weight:bold;
}

h2 {
    font-size:1.4em;
}

h3 {
    font-size:1.3em;
    font-style:italic;
}

h4 {
    font-size:1.2em;
    font-style:italic;
}

textarea {
    resize:vertical;
}

form.FormularBox {
    width:450px;
}

.FormularDisplay,
.FormularInput {
    display:inline-block;
    margin-bottom:5px;
    vertical-align:top;
}
.FormularDisplay {
    width:183px;
    font-weight:bold;
}

.FormularInput {
    width:250px;
}

.RightFloatingButton {
    float:right;
}
#formularauswertungshinweis {
    font-style:italic;
    font-size:0.8em;
}