/****************** Main Style Sheet ******************/
/*
    
    Das Main Style Sheet beinhaltet Styles, welche für das Haupttemplates gelten.    
    
    Author: Silvio Stappung
    
*/

body {
    background:#e9e9e9;
    color:#5a5a5a;
}

header {
    text-shadow:5px 4px 2px #aaa;
}

section#bodySection {
    background:#FFFFFF;
    box-shadow:10px 10px 10px #c2c0c0;
}